# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
venv/
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.bak
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log


# Sphinx documentation
docs/_build/

# Logs
*.log

# Gedit files
*~

# Save games
tuxemon/saves/

# Windows file
Thumbs.db

# PyCharm
*.iml
.idea/*

# Mac OS
*.DS_Store
