[Desktop Entry]
Name=Tuxemon
Name[de_AT]=Tuxemon
GenericName=Open source monster-fighting RPG
GenericName[de]=Tuxemon
Comment=
Exec=org.tuxemon.Tuxemon
Icon=org.tuxemon.Tuxemon
Terminal=false
Type=Application
Categories=Game
StartupNotify=false

