[Desktop Entry]
Name=Tuxemon
Type=Application
Exec=tuxemon.py
Icon=resources/gfx/icon
Comment=Open source monster-fighting RPG
Terminal=false
Categories=games;
